/* 
* @Author: Marte
* @Date:   2017-12-27 00:26:22
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-21 14:20:39
*/
.title{
    font-size: 1rem;
    font-weight: bold;
    padding: 30px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e7e7eb;
}

.subtitle{
    text-align: center;
    font-size: .8rem;
    color: rgb(255, 41, 65);
    padding-bottom: 20px;
}

.img_icon{
    width: 100%;
}