/* 
* @Author: Marte
* @Date:   2017-12-27 00:26:22
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-21 14:20:39
*/
.title{
    font-size: 1rem;
    font-weight: bold;
    padding: .8rem 0;
    margin-bottom: .8rem;
    border-bottom: 1px solid #e7e7eb;
    text-align: center;
}

.txt{
    font-family: "微软雅黑"
    font-size: .7rem;
    padding: 0 .5rem .5rem .5rem;
}

.stress{
    font-size: .8rem;
    color: rgb(255, 138, 120);
    font-weight: bold;
}

.wechat{
    width: 10rem;
    display: block;
    margin: 0 auto;
    padding: .6rem 0 1rem 0;
}

.img{
    width: 18rem;
    display: block;
    margin: 0 auto;
    padding: .5rem 0;
}